
.__app {
    background-image: url('./assets/BG.svg');
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

.__navbar {
    position: sticky;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 99;
}

.__waitListBtn {
    border-radius: 20px;
}

/* form section */

.__form {
    border: 1px solid #F8FEFF;
    border-radius: 40px;
}

.__input {
    background-color: #1aa6b71a;
    outline:none;
}



@media screen and (min-width: 768px) {
    .__footer {
        max-width: 70%;
        margin: auto;
    }
}


@media screen and (max-width:768px) {
    .__app {
        background-size: cover;
    }
}